.TabelaProdutos th {
background-color: #333;
color: #fff
}

.TabelaProdutos table {
  width: 100%;
  }

  .TabelaProdutos .Par {
    background-color: #ddd;
    }

    .TabelaProdutos .Impar {
      background-color: #ccc;
      }